$('#success').html("<div class='alert alert-danger'>");
$('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
  .append("</button>");
$('#success > .alert-danger').append($("<strong>").text("Ошибка отправки. Проверьте поля ввода или попробуйте ещё раз!"));
$('#success > .alert-danger').append('</div>');

$('#contactForm').trigger("reset");
